---
layout: page
---

<div class="page">
  <p><img class="img-rounded" src="https://res.cloudinary.com/dfnrzktmy/image/upload/v1587377816/cd_%EC%9D%B8%ED%84%B0%EB%84%B7%EC%9A%A9-01_lwgsyt.jpg" alt="Yoo Hajin"></p>

  <h2>{{ site.translations.contact.title | default: "Yoo Hajin" }}</h2>

  <div class="education">
    <h3>교육 및 학력</h3>
    <ul>
      <li>
        <span class="date">2019. 12 ~ 2020. 01</span>
        리액트 프로그래밍 향상과정(React.js)
        <span class="agency">한국소프트웨어인재개발원</span>
      </li>
      <li>
        <span class="date">2019. 06 ~ 2019. 07</span>
        정보처리산업기사,기사(필기)취득과정
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2018. 01 ~ 2018. 02</span>
        응용SW엔지니어링 향상과정
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2018. 01 ~ 2018. 02</span>
        응용SW엔지니어링 향상과정(Javascript & Jquery)
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2017. 02 ~ 2017. 07</span>
        [ncs]인터렉티브 웹디자인
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2016. 11 ~ 2017. 01</span>
        편집디자인 S/W(인디자인,전자책) 
        <span class="agency">이젠컴퓨터학원 종로</span>
      </li>
      <li>
        <span class="date">2016. 09 ~ 2016. 11</span>
        일러스트레이터+포토샵(주말) 
        <span class="agency">그린컴퓨터아트학원 신도림</span>
      </li>
      <li>
        <span class="date">2012. 08 ~ 2013. 08</span>
        교환학생
        <span class="agency">일본 오사카학원대학</span>
      </li>
      <li>
        <span class="date">2010. 03 ~ 2011. 03</span>
        어학연수
        <span class="agency">일본 안랭귀지스쿨 나리마스교</span>
      </li>
      <li>
        <span class="date">2008. 03 ~ 2014. 02</span>
        백석대학교 
        <span class="agency">일본어ㆍ일본학과</span>
      </li>
    </ul>
  </div>

  <div class="career">
    <h3>경력</h3>
    <ul>
      <li>
        <span class="date">2017. 12 ~ 2020. 03</span>
        <span class="company">티쿤글로벌</span>     
        <ul class="department">
          <li>개발본부 개발팀 연구원(웹퍼블리셔)</li>
          <li>직영사업지원부 사원(웹퍼블리셔)</li>
        </ul>
      </li>
      <li>
        <span class="date">2015. 11 ~ 2016. 12</span>
        <span class="company">레푸인터내셔널</span>
        <span class="department">영업6부 대리</span>
      </li>
      <li>
        <span class="date">2013. 10 ~ 2015. 04</span>
        <span class="company">레푸인터내셔널</span>
        <span class="department">영업5부 사원</span>        
      </li>
    </ul>
  </div> 

  <div class="language">
    <h3>사용 가능 언어</h3>
    <ul>
      <li>HTML5</li>
      <li>RWD(Responsive Web Design)</li>
      <li>CSS</li>
      <li>CSS 전처리기(SASS, LESS)</li>
      <li>CSS 프레임워크(Bootstrap)</li>
      <li>Javascript</li>
      <li>Jquery</li>
      <li>React</li>      
      <li>JLPT N1</li>
    </ul>
  </div>

  <div class="tool">
    <h3>사용 가능 툴</h3>
    <ul>
      <li>GitHub</li>
      <li>SVN</li>
      <li>Visual Studio 2015</li>
      <li>vscode</li>
      <li>Zeplin</li>
      <li>Photoshop</li>
      <li>InDesign</li>
    </ul>
  </div>

  <div class="project">
    <h3>진행 프로젝트</h3>
    <ul>      
      <li>
        <span class="department">[ 티쿤글로벌 개발본부 ]</span>
        <dl>
          <dt>자사 플랫폼 서비스 사용성 개선 퍼블리싱</dt>
          <dd>adprint 로그인페이지 리뉴얼</dd>
          <dd>adprint 주문페이지 우편번호 검색 개선</dd>
          <dd>adprint.jp 10년간 쌓인 미사용 sub page 정리</dd>
          <dd>tqoon.v2 i18n 다국어처리 작업</dd>
          <dd>tqoon.v2 리뷰개선 1~4차 진행</dd>
          <dd>태국향 이용사 전용 플랫폼 UI 퍼블리싱</dd>
          <dd>일본 소비세 인상 안내 콘텐츠 작성</dd>
          <dd>tqoon.v2 css의 sass화</dd>
          <dd>tqoon.v2 이용사 사이트 속도개선</dd>

          <dt>이용사 퍼블리싱 문의 응대 및 오류 해결 서포트</dt>
          <dd>이용사의 퍼블리싱 작업 후 발생하는 당사 플랫폼 소스와 충돌부분 확인 지원 및 퍼블리싱 기술 문의 지원</dd>

          <dt>tqoon.v1이용 고객사의 tqoon.v2 이전 기술지원</dt>
          <dd>이용사 외주 퍼블리셔 작업시 발생하는 플랫폼 소스와의 충돌 부분 확인 및 퍼블리싱 기술 지원
            <span>( www.ribel.jp : 2020.01.22 이전 완료, www.adcard.jp : 2020.03.10 이전 완료 )</span>
          </dd>

          <dt>tqoon.v1이용 고객사의 tqoon.v2 이전 퍼블리싱</dt>
          <dd>헤더, 푸터, 메인, 콘텐츠 이전 및 충돌 소스 정리
            <span>( www.adcup.jp : 2020.03.20 이전 완료, www.sakuralabel.jp : 2020.04.15 이전 완료 )</span>
          </dd>

          <dt>관리자 페이지 및 마이페이지 유지 보수</dt>
          <dd>adprint 마이페이지 내 보유 포인트 표시</dd>
          <dd>admin 카테고리 정리</dd>
          <dd>admin 이용사 정산 고도화</dd>
          <dd>파트너페이지 sass 자동컴파일( bundle ) 오류로 인한 sass파일 css컴파일 적용</dd>

          <dt>신규 개발 프로젝트 퍼블리싱</dt>
          <dd>adprint 주문페이지 내 최근 본 상품</dd>
          <dd>adprint 상품 찜기능</dd>
          <dd>tqoon.v2 상품검색</dd>
          <dd>일본 이용사 출점 프로세스</dd>
          <dd>일본 이용사 정산</dd>
          <dd>admin 이용사 사이트별 통계매출</dd>
          <dd>admin 직영사업부별 Top5상품</dd>
          <dd>이용사 구매확인서 발급 시스템
            <span>( 수출내역 관리, 구매확인서 발급, 환율관리, 고정정보 관리 )</span>
          </dd>
          <dd>일본 청구서 후불결제 개발 및 안내</dd>

          <dt>외주 개발자 프로젝트 퍼블리싱</dt>
          <dd>이용사 파트너 로그인 개선</dd>
          <dd>tqoon.v2 게시판 기능 개선</dd>
        </dl>
      </li>
      <li>
        <span class="department">[ 티쿤글로벌 직영사업지원부 ]</span>
        <dl>
          <dt>일본계 직영사이트 7개 유지보수</dt>
          <dd>메인페이지 리뉴얼, 콘텐츠 작성 및 수정
            <span>( www.adprint.jp, www.makumaku.jp, www.yoki.jp, www.ad-sign.jp, www.adflag.jp : 2018.04 중국법인에 인계, www.adpoly.jp : 2018.04 중국법인에 인계, www.adtee.jp : 2019.06 사이트매각 )</span>
          </dd>

          <dt>싱가포르사이트 1개 유지보수</dt>
          <dd>메인페이지 리뉴얼, 콘텐츠 작성 및 수정
            <span>( www.tq-botle.co.sg : 2018.08 폐쇄 )</span>
          </dd>

          <dt>매달 진행되는 메일메거진 제작 ( 월 6~8건 )</dt>
          <dd>yahoo.jp, google.com의 양식에 맞춘 메일작성</dd>

          <dt>마케터와 직영사이트의 seo 최적화 진행 및 구글 애널리틱스 이벤트 관리</dt>
          <dd>seo 최적화 html dom구조 관리</dd>
          <dd>onclick="addTrackEvent( )"이벤트 관리</dd>
          <dd>리다이렉트 url 관리</dd>
        </dl>
      </li>
    </ul>    
  </div>   
</div>