---
layout: page
---

<div class="about">
  <p><img class="img-rounded" src="https://res.cloudinary.com/dfnrzktmy/image/upload/v1587377816/cd_%EC%9D%B8%ED%84%B0%EB%84%B7%EC%9A%A9-01_lwgsyt.jpg" alt="Yoo Hajin"></p>

  <h2>{{ site.translations.contact.title | default: "Yoo Hajin" }}</h2>

  <div class="project">
    <h3>진행 프로젝트</h3>
    <ul>      
      <li></li>
    </ul>
  </div>

  <div class="career">
    <h3>경력</h3>
    <ul>
      <li>
        <span class="date">2017. 12 ~ 2020. 03</span>
        티쿤글로벌
        <span class="department">개발본부 개발팀 연구원</span>
        <ul class="description">
          <li>
            개발본부 개발팀 웹퍼블리셔 <br>
            - 자사 플랫폼 서비스 유지 보수 <br>
            - 이용사 퍼블리싱 문의 응대 <br>
            - tqoon.v1이용 고객사의 tqoon.v2 이전 퍼블리싱 기술지원 및 이전 퍼블리싱 <br>
            - 관리자 페이지 및 마이페이지 유지 보수 <br>
            - 신규 개발 프로젝트 퍼블리싱 <br>
            - 외주 개발자 프로젝트 퍼블리싱 <br>

            직영사업지원부 웹퍼블리셔 <br>
            - 본사에서 운영하는 일본계 직영사이트 7개 유지보수 <br>
            - 싱가폴사이트 1개 유지보수 <br>
            - 매달 진행되는 메일메거진 제작 <br>
            - 마케터와 직영사이트의 seo 최적화 진행 및 구글 애널리틱스 이벤트 관리
          </li>
        </ul>
      </li>
      <li>
        <span class="date">2015. 11 ~ 2016. 12</span>
        레푸인터내셔널
        <span class="department">영업6부 대리</span>
        <ul class="description">
          <li>
            - 일본 바이어 상담 <br>
            - 지출결의서 작성 (월 5~10건) <br>
            - 부자재 발주 및 수주관리 <br>
            - 작업지시서 작성 <br>
            - 오더관리
          </li>
        </ul>
      </li>
      <li>
        <span class="date">2013. 10 ~ 2015. 04</span>
        레푸인터내셔널
        <span class="department">영업5부 사원</span>
        <ul class="description">
          <li>
            - 일본 바이어 상담 <br>
            - 지출결의서 작성 (월 5~10건) <br>
            - 부자재 발주 및 수주관리 <br>
            - 작업지시서 작성
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="education">
    <h3>교육 및 학력</h3>
    <ul>
      <li>
        <span class="date">2019. 12 ~ 2020. 01</span>
        리액트 프로그래밍 향상과정 (React.js)
        <span class="agency">한국소프트웨어인재개발원</span>
      </li>
      <li>
        <span class="date">2019. 06 ~ 2019. 07</span>
        정보처리산업기사,기사(필기)취득과정
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2018. 01 ~ 2018. 02</span>
        응용SW엔지니어링 향상과정
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2018. 01 ~ 2018. 02</span>
        응용SW엔지니어링 향상과정(Javascript & Jquery)
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2017. 02 ~ 2017. 07</span>
        [ncs]인터렉티브 웹디자인
        <span class="agency">그린컴퓨터아카데미 신촌</span>
      </li>
      <li>
        <span class="date">2016. 11 ~ 2017. 01</span>
        편집디자인 S/W(인디자인,전자책) 
        <span class="agency">이젠컴퓨터학원 종로</span>
      </li>
      <li>
        <span class="date">2016. 09 ~ 2016. 11</span>
        일러스트레이터+포토샵(주말) 
        <span class="agency">그린컴퓨터아트학원 신도림</span>
      </li>
      <li>
        <span class="date">2012. 08 ~ 2013. 08</span>
        교환학생
        <span class="agency">일본 오사카학원대학</span>
      </li>
      <li>
        <span class="date">2010. 03 ~ 2011. 03</span>
        어학연수
        <span class="agency">일본 안랭귀지스쿨 나리마스교</span>
      </li>
      <li>
        <span class="date">2008. 03 ~ 2014. 02</span>
        백석대학교 
        <span class="agency">일본어 ㆍ일본학과</span>
      </li>
    </ul>
  </div>
 
  <div class="skill">
    <h3>보유 기술</h3>
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="self-introduction">
    <p>전직이유/ 업무의 장점, 단점 / 스트레스 컨트롤 방법 / 프로젝트 경험 / 업무 후 계획</p>
  </div>
</div>